.game_name{
    margin:30px auto 0px 0px;
    text-align:center;
    color:red;
    font-family:Arial;
    font-size:40px;
}

.container{
    width:310px;
    overflow: hidden;
    margin:50px auto 0px auto;
}

.container .cell{
    width:100px;
    height:100px;
    float:left;
    border:1px solid black;
    text-align: center;
    cursor:pointer;
    text-size:20px;
}

.container .cell:hover{
    background-color:deepskyblue;
}

.current_player{
    margin-top:20%;
    margin-left:5%;
    font-family:Arial;
    font-size:20px;
    float:left;
}

#display_winner{
    margin-top: 20px;
    font-family:Arial;
    font-size:20px;
    color:green;
    float: left;

}

